<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CARDS-137</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <style>
    @font-face {
        font-family: 'rickfont';
        src: url('fonts/get_schwifty.ttf') format('truetype');
        /* Outros formatos e variantes podem ser adicionados aqui */
    }
    @font-face {
        font-family: 'inter';
        src: url('fonts/inter.ttf') format('truetype');
        /* Outros formatos e variantes podem ser adicionados aqui */
    }
    @font-face {
        font-family: 'descricao';
        src: url('fonts/descricao.ttf') format('truetype');
        /* Outros formatos e variantes podem ser adicionados aqui */
    }
</style>
<link rel="icon" type="image/png" sizes="16x16" href="/images/icon.png">
</head>
<body>
  <div id="page-container">
    <div id="content-wrap">
  <a href="/"><h1>Cards-137</h1></a>
  <h2>Interdimensional Archives by The Galactic Federation</h2>
  <form id="search" method="post">
    
    <input type="text" id="nameInput" name="name" placeholder="Character Name">
    <input id="get" type="submit" value="Search" formaction="/get-name">
    
  </form>

  <div class="page_selector">
    <div class="left_page">
      <form  method="get">
        <input id="backpage" type="submit" value=""  formaction="/back">

      </form>

    </div>
    <div class="page_count">
      <p style="font-family: descricao;"><%= newdados.pagecount %>/42</p>
      
    </div>
    <div class="right_page">
      <form  method="get">
        <input id="nextpage" type="submit" value="" formaction="/next">

      </form>
    </div>

  </div>
  
<% if (locals.newdados) {%>
  <div id="cards_area">
    <!-- <div class="card" id="card-1">
      <div class="card_img">
        <img src="https://rickandmortyapi.com/api/character/avatar/2.jpeg" alt="Personagem 1">
      </div>
      
      <div class="card-info">
        <div class="card-info-name"> <h3> morty da silva junior morty 137 </h3></div>
          <div class="card-info-content">
            <p>Status: Vivo</p>
          <p>Espécie: Humanóide</p>
          <p>Tipo: Principal</p>
          <p>Gênero: Masculino</p>
          <p>Localização: Terra</p>
          </div>
          
      </div>
      </div> -->
      <% for (let i = 0; i < newdados.names.length; i++) { %>
        <div class="card" id="card-<%= i + 1 %>">
          <div class="card-border">
          <div class="card_img">
            <img src="<%= newdados.image[i] %>" alt="Personagem <%= i + 1 %>">
          </div>
          
          <div class="card-info">
            <div class="card-info-name"><h3><%= newdados.names[i] %></h3></div>
            
            <div class="card-info-content">
              <p>Status: <%= newdados.status[i] %></p>
              <p>Specie: <%= newdados.specie[i] %></p>
              <% if (newdados.type[i]==""){ %>
                <p>Type: Normal</p>
              <%  }else{%>
              <p>Type: <%= newdados.type[i] %></p>
              <% } %>
              <p>Gender: <%= newdados.gender[i] %></p>
              <p>Location: <%= newdados.location[i] %></p>
            </div>
          </div>
          </div>
        </div>
      <% } %>
      
      
      
      
      
  </div>
  <% } %>
  </div>
  <DIV class="rodape">
    <div class="rodapecontent">
      <footer style="font-family: descricao;">© 2024 David Gonçalves, Web Dev</footer>
    <a href="https://github.com/GDeusvid" style="margin-left: 1rem;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
      <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
    </svg></a>
    </div>
    
  </DIV>
</div> 
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="scripts/app.js"></script>
<% if (locals.newdados) { %>
  <script>
  var textoCompleto = $(".page_count p").text();
  var partes = textoCompleto.split("/");
 var numeropage = parseInt(partes[0], 10);
 console.log(numeropage); // Saída: 10
 if(numeropage <=1){
  
  $("#backpage").attr("disabled", true);
 } else{
  $("#backpage").attr("disabled", false);
 }
 if(numeropage >=42){
  
  $("#nextpage").attr("disabled", true);
 } else{
  $("#nextpage").attr("disabled", false);
 }
  
  
</script>
  <% } %>

</html>